html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
  background-color: #FFF4E0;
}


@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller .nav {
  color: rgba(255, 255, 255, .75);
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-scroller .nav-link:hover {
  color: #007bff;
}

.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}

.bg-purple {
  background-color: #6f42c1;
}

.icon{
  border-radius: 50%;
  width: 150px;
  padding-right: 15px;
}

.container {
  position: relative;
  margin-top: 100px;
  padding: 0px;
}

.banner {
  background-image: url('images/banner-h.jpg');
  background-size: cover;
  height: 350px; /* adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 90%;
}
.smaller{
  width: 50%;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  /* padding-top: 100px;    */
  /* change */
}

.dropdown {
			position: relative;
			display: inline-block;
		}
		.dropdown-content {
      display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 10px;
    z-index: 1;
		}
		.dropdown-content label {
			display: block;
			padding: 5px;
		}
		.dropdown:hover .dropdown-content {
			display: block;
			z-index: 2;
		}
  .sorter{
    padding: 5px 50px;
    display: inline;
  }

.colored_div{
  background: #FFF2CC;
  padding: 10px;
}

.nav_bg{
  background:black;
}
.bt{
  padding: 3px 70px;
  border-radius: 12px;
  background-color:black;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.changecol{
  color:blue;
}
.login{
  position: absolute;
  right:50px;
}
.cat{
  padding-left: 10px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #FFDEB9;
  margin: 50px 0;
  height: 300px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  margin-left: 150px;
  margin-right: 150px;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #FFBF9B;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 2em;
  color: #2d3436;
  margin-left: 45px;
  margin-top: 25px;
}

.card img {
  margin: 30px 20px 0 0;
  position:absolute;
  right: 20px;
}

.change{
  background-color: #FFF4E0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.circle-img1{
  border-radius: 50%;
  width: 30px;
  height: 30px;

  position: absolute;
  top: 0;
  right: 0;
}

.bottom {
  margin-top: 100px;
  margin-left: 30px;
}



.carousel-btn{
  color: black;
  background-color: black;
}

.carousel-control-prev-icon,
		.carousel-control-next-icon {
			background-color: black;
		}
		.carousel-indicators li {
			background-color: black;
			border: 1px solid black;
		}
		.carousel-indicators .active {
			background-color: white;
		}



/* /////////////////////////////////////////// */

/* search page */

























/* sign in */

.text-center {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 100%;

}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
